.round-img {
    width: 70%;
    border-radius: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin-bottom: 1em;
}

.nav-st {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}